
.NavBar {
    display: flex;
    font-family: basic-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
}

.NavBar a {
    padding: 2%;
    clear: both;
    float: left;
}

.NavButton {
    float: left;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 200;
    color: #efefef;
}
.active{
    border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 1240px) {
    .NavButton {
        width: 100%;
        display: flex;
        height: 20px;
        float: right;
        flex: 1;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 200;
        color: #ef1f8e;
    }

    .NavBar {
        flex: 1;
        float: right;
        display: flex;
        font-family: basic-sans, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1vw;
        text-transform: uppercase;
        height: 500px;
        flex-direction: row;
    }

    .NavBar a {
        padding: 2%;
        flex: 1;
        clear: both;
        float: bottom;
        font-size: 5.6vw;
        width: 100%;
    }
}