
.NavBar {
    display: flex;
    flex-direction: row;
    font-family: basic-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
}

.NavBar a {
    padding: 2%;
    clear: both;
}
.MenuToggle {
    padding: 2%;
    height: 100%;
    margin-top: 2%;
    width:18%;
    padding: 1%;
    border-radius: 50px;
}
.MenuToggle img{
    width: 10%;
}

.NavButton {
    float: left;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 200;
    color: #efefef;
}
.active{
    border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 1440px) {
    .NavButton {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        height: 40px;
        flex: 1;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #f7f7f7;
        font-size: 5vw;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .MenuToggle {
        display: flex;
        height: 20%;
        width:100%;
        flex-direction: row-reverse;
        border-radius: 50px;
    }
    .NavButtons {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 200;
    }

    .NavBar {
        display: flex;
        flex-direction: column;
        font-family: basic-sans, sans-serif;
        font-weight: 500;
        height: 50%;
        padding: 2%;
        font-style: normal;
        font-size: 1vw;
        text-transform: uppercase;
        overflow: hidden;
    }

    .NavBar a {
        padding: 2%;
        clear: both;
        font-size: 2vw;
        width: 100%;
    }
}